<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a4fc66">  <td>17/02/06 22:39:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AssignmentTest.launchBrowser()[pri:0, instance:com.indusface.test.AssignmentTest@f68f0dc]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@391135083</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>17/02/06 22:39:53</td>   <td>14964</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AssignmentTest.quiteBrowser()[pri:0, instance:com.indusface.test.AssignmentTest@f68f0dc]">&lt;&lt;quiteBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@391135083</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>17/02/06 22:39:53</td>   <td>14623</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AssignmentTest.test()[pri:0, instance:com.indusface.test.AssignmentTest@f68f0dc]">test</td> 
  <td>main@391135083</td>   <td></td> </tr>
</table>
